* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
}
header {
    background-color: rgb(214, 249, 240);
    position:relative;
    z-index:2;

}

h1{
    display:flex;
    justify-content: center;
    font-size:50px;
    color:black;
}
.logo img{
    height:100px;
    width:100px;
    color:white;
    
}
.navigator{
    display:flex;
    justify-content: center;
    gap:50px;
    font-size:25px;
    z-index: 1;
}
.navigator a {
    text-decoration :none;
    color:rgb(240, 127, 15)
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width:100%;
    
}

.food{
    background-color: rgb(161, 220, 220);
    width:400px;
    height:300px;
    border-radius: 20px;

}

.category{
    display: flex;
    align-items: center;
    justify-content: center;

}
#search{
    display:flex;
    justify-content: center;
}




















footer{
    
    display:flex;
    justify-content: space-between;
    background-color: rgb(214, 249, 240);
    align-items: center;
    padding:10px 50px;
    flex-wrap: wrap;
}
.footerleft{
    display:flex;
    align-items:center;
    gap:10px;
}
.footer-logo img{
    height:auto;
    width:100px;
    margin-top: 30px;
}
.social-icons{
    display:flex;
    gap:10px;
    align-items:center;


}
.social-icons img {
    object-fit: contain;
}
#instaicons{
    width: 70px;
    height:70px;
}
#faceicons{
    width:90px;
    height:90px;
}
.footerinfo{
    display:flex;
    flex-direction:column;
    font-size:20px;
    gap:5px;
}
.footerright{
    font-size: 20px;
}
.footerright a{
    text-decoration: none;
    color:black;
} 