* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
}
header {
    background-color: rgb(214, 249, 240);
    position:relative;
    display:flex;
    justify-content: space-between;
    z-index:2;
    box-shadow: 0;

}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    color:black;
}
.logo img{
    height:100px;
    width:100px;
    color:white;
    
}
.navigator{
    display:flex;
    justify-content: center;
    gap:50px;
    font-size:25px;
    margin: 60px 20px 20px 0;
    z-index: 1;
}
.navigator a {
    text-decoration :none;
    color:rgb(240, 127, 15)
}

main {
  position: relative;
  min-height: 100vh;
  width:100%;
  display: flex;             
  justify-content: center;   
  align-items: center; 
}
main::before{
    content: "";
    position: absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    background-image: url("image/profileback.jp");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    filter:blur(3px);
    z-index:0;

}

.graph-set{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position:absolute;
    top:30px;
    left:10%;

}
.graph{
    margin-top:20px;
    margin-bottom: 30px;
}

.chat-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color: aquamarine;
    border-radius: 8px;
    width:500px;
    height:650px;
    padding:15px;
    margin-left:800px;
}
#textspace{
    background-color: white;
    height: 400px;
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    width:100%;
    overflow-y:auto;
    display:flex;
    flex-direction: column;
    gap:8px;
    margin-bottom:50px;

}





















footer{
    
    display:flex;
    justify-content: space-between;
    background-color: rgb(214, 249, 240);
    align-items: center;
    padding:10px 50px;
    flex-wrap: wrap;
}
.footerleft{
    display:flex;
    align-items:center;
    gap:10px;
}
.footer-logo img{
    height:auto;
    width:100px;
    margin-top: 30px;
}
.social-icons{
    display:flex;
    gap:10px;
    align-items:center;


}
.social-icons img {
    object-fit: contain;
}
#instaicons{
    width: 70px;
    height:70px;
}
#faceicons{
    width:90px;
    height:90px;
}
.footerinfo{
    display:flex;
    flex-direction:column;
    font-size:20px;
    gap:5px;
}
.footerright{
    font-size: 20px;
}
.footerright a{
    text-decoration: none;
    color:black;
} 