* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(214, 249, 240);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    box-shadow: 0 4px 8px black;
    padding: 10px 20px;

}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    color:black;
}
.logo img{
    height:100px;
    width:100px;
    color:white;
    
}
.navigator{
    display:flex;
    justify-content: center;
    gap:20px;
    font-size:18px;
    margin: 60px 20px 20px 0;
    z-index: 1;
}
.navigator a {
    font-weight: 500;
    text-decoration :none;
    color:black;
    font-size:20px;
}

.main-input{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width:100%;
    flex-wrap: wrap;
    gap:20px;
    
}
.main-input::before{
    content: "";
    position: absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    background-image: url("/image/backgroundblue.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;

}
.main-input > *{
    position:relative;
    z-index: 1;
}



.foodselect {
    background-color: rgba(139, 188, 205, 0.9);
    width:80%;
    height:800px;
    border-radius: 10px;
    gap:20px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    z-index:3;
    

}

label[for="category"]{
    font-size:30px;
    padding:10px;
}

.category{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:15px;

}
#search{
    display:flex;
    justify-content: center;
    gap:10px;
    margin-bottom:20px;
    
}
#intaketable{
    background-color: white;
    justify-content: center;
    align-items: center;
    height:80px;
    /* width:calc(100vw - 450px); */
    width: 100%;
    table-layout:fixed;
    word-wrap:break-word;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
#intaketable th, #intaketable td{
    border:1px solid black;
    padding:10px;
    text-align: center;

}
#add{
  align-self: flex-end;
  display:block;
  margin:20px 0px 30px 40px;
  border:none;
  border-radius: 2px;
  height:40px;
  width:55px;
  cursor:pointer;
  border-radius: 15px;
}
#add:hover{
    background-color: rgb(180, 175, 175);
}

#intakelist{
    list-style:none;
    padding:0;
    gap:10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 248, 237);
    border-radius: 8px;
    max-height:200px;
    overflow-y:auto;


}

#intakelist li{
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}


















footer{
    
    display:flex;
    justify-content: space-between;
    background-color: rgb(214, 249, 240);
    align-items: center;
    padding:10px 50px;
    flex-wrap: wrap;
    font-weight: 500;
}
.footerleft{
    display:flex;
    align-items:center;
    gap:10px;
}
.footer-logo img{
    height:auto;
    width:100px;
    margin-top: 30px;
}
.social-icons{
    display:flex;
    gap:10px;
    align-items:center;


}
.social-icons img {
    object-fit: contain;
}
#instaicons{
    width: 70px;
    height:70px;
}
#faceicons{
    width:90px;
    height:90px;
}
.footerinfo{
    display:flex;
    flex-direction:column;
    font-size:20px;
    gap:5px;
}
.footerright{
    font-size: 20px;
}
.footerright a{
    text-decoration: none;
    color:black;
} 