* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(214, 249, 240);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    box-shadow: 0 4px 8px black;
    padding: 10px 20px;

}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    color:black;
}
.logo img{
    height:100px;
    width:100px;
    color:white;
    
}
.navigator{
    display:flex;
    justify-content: center;
    gap:20px;
    font-size:18px;
    margin: 60px 20px 20px 0;
    z-index: 1;
}
.navigator a {
    font-weight: 500;
    text-decoration :none;
    color:black;
    font-size:20px;
}
.main-profile {
    position: relative;
    display: flex;             
    justify-content: center;   
    align-items: flex-start; 
    flex-wrap: wrap;
    gap:20px;
    padding:60px 0;
    content: "";
    top:0; left:0;
    width:100%;
    height:1400px;
    background-image: url("/image/backgroundberries.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
    filter: grayscale(5%) brightness(90%);


}
.main-profile > *{
    position:relative;
    z-index: 1;
}
.name{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.profile{
  position:relative;
  display: flex;
  align-items: flex-start;    
  flex-direction: column;
  width:600px;
  height:1000px;
  background:linear-gradient(135deg,
rgb(234, 228, 231,0.9),    
rgb(208, 197, 205, 0.9));
  

  border-radius: 15px;
  z-index: 1;
  box-shadow: 10px 10px  rgba(0,0,0,0.3);
  padding-top:180px;
  color:black;
  font-weight: bold;
  margin-top:10px;
  font-size:23px;
 


}
.profile-section{
    display:grid;
    grid-template-columns: 150px 1fr;
    flex-direction:column;
    gap:70px 100px;
    margin-left:50px;
    margin-top:100px;
}

#icon{
    position:absolute;
    bottom:880px;
    color:white;
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 3px solid black;
    z-index:10;
}
.name input{
    width:200px;
    padding:8px;
    
}
.name input, .age input{
    border-radius: 4px;
    border: 2px solid black;
    font-size: 16px;
}
.age input{
    margin-left:10px;
    text-align:right;
    width:70px;
    height:40px;
}
.weight, .height{
    display:flex;
    gap:3px;
    align-items: center;
    width:15px;
}





























footer{
    
    display:flex;
    justify-content: space-between;
    background-color: rgb(214, 249, 240);
    align-items: center;
    padding:10px 50px;
    flex-wrap: wrap;
    font-weight: 500;
    
    
}
.footerleft{
    display:flex;
    align-items:center;
    gap:10px;
}
.footer-logo img{
    height:auto;
    width:100px;
    margin-top: 30px;
}
.social-icons{
    display:flex;
    gap:10px;
    align-items:center;


}
.social-icons img {
    object-fit: contain;
}
#instaicons{
    width: 70px;
    height:70px;
}
#faceicons{
    width:90px;
    height:90px;
}
.footerinfo{
    display:flex;
    flex-direction:column;
    font-size:20px;
    gap:5px;
}
.footerright{
    font-size: 20px;
}
.footerright a{
    text-decoration: none;
    color:black;
} 